html, body
{
    margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF url('/images/body-bg.png') repeat;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 1000px;
}

#header
{
	margin: 0;
	padding: 10px;
	/*border-top: 3px solid #C9E0ED;*/
    background-color: #177181;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #177181;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #ffffff;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.breadcrumbs a
{
    color: #ffffff;
}


#tabs
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    margin: 0px;
    margin-bottom:-3px;
    display: block;
    overflow: hidden;
}


#tabs ul
{
    padding:8px 8px 5px 8px;
    margin: 0px;
}

#tabs ul li
{
    display: inline-block;
    margin-bottom: 10px;
}

#tabs ul li a
{
    color:#ffffff;
    background:#555555;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


#tabs ul li.active a
{
    color: #555555;
    background:#ffffff;
    text-decoration:none;
}

#tabs ul li a:hover
{
    color: #177181;
    background-color:#EFF4FA;
    text-decoration:none;
}

#tabs ul li ul li a
{
    color:#555555;
    background: none;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#tabs ul li.active ul li a
{
    color: #177181;
    background: none;
    text-decoration: none;
}

#tabs ul li ul li a:hover
{
    color: #177181;
    background-color: #cccccc!important;
    text-decoration: underline;
}


.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #177181;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.portlet-content
{
    font-size:0.9em;
    margin: 2px 0 15px 0;
    padding: 5px 8px;
    background:#ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #177181;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#content
{
    padding: 20px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 2px;
    min-height: 400px;
}

#sidebar
{
	padding: 2px 0px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{   float: left;
	display: block;
    color: #ffffff;
	font-size: 200%;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

#logout
{
    height: 40px;
    padding-right: 50px;
    float: right;
    display: block;
    background: no-repeat right url("/images/logout.png");
    color: #ffffff;
    font-size: 120%;
    line-height: 40px;
    text-decoration: none;
}
